---
description: run tests
---

Read CLAUDE.md and check if there is info how to run tests.
If not tell user he first has to setup testing using /xida:testing-setup command

Otherwhise run tests and fix errors.
If there is one to fix errors, run that first, then run the others in parallel.
Make sure to set the timeout to 20 minutes per bat since some projects might have a lot of tests.

